table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  
  margin-left: 10%;
  margin-bottom: 15%;
  font-size: 18px;
}

th {
  background-color: rgb(228, 228, 228);;
  font-weight: bolder;
  font-size: 22px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

tbody tr:hover {
  background-color: rgb(228, 228, 228);
}

button {
  background-color: #697889;;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
  margin: 3px 10px;
  border: 1px solid black;
}
.titleAllProducts{
  padding:10px; 
  border:"solid 1px #e4e4e4";
  border-radius:"20px";
  width:"500px" ;
  margin-left:"500px";
  background-color:"#e4e4e4"
}
.edit:hover {
  background-color:green;
  transition: all .3s ease;
}
.del:hover {
  background-color:red;
  transition: all .3s ease;
}
.addPro{
  background-color: rgb(22, 108, 151);
  border-radius: 5px;
}
.addPro:hover {
background-color:  rgb(8, 73, 105);

transition: .3s;
}
a{
  text-decoration: none;
  color: white;
}