.form-container22{
    width: 400px;
    height: 450px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 0px;
    margin: auto;
    margin-top: 35px;
    align-items: center;
    padding: 20px 35px;
}
.newWare-t22
{
    
    color: rgb(30, 107, 145);;
    border-radius: 13px;
    width: fit-content;
    height: fit-content;
    padding: 1px 10px;
    margin: auto;
    padding-top: -100px;
}

.d1{
    display: inline;
}
input{
    display: inline;
    width: 570px;
    height: 30px;
    outline: none;
    margin:5px 0px;
    border: 1px solid #fff;
    background: #e4e4e4 ;
    border-radius: 10px;
}
.in1{
    width: 300px;
    border-radius: 0px;
    display: inline;
    /* font-size: 14px; */
}
.l22{
    display: inline;
    padding: 1px 2px;
    font-family: sans-serif;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input:focus{
    border: 1px solid black;
}
.form-new22
{
    margin: 50px 50px;
}
.add-btn22{
    margin-left: 290px;
    padding: 5px 60px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(22, 108, 151);
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
}

.add-btn22:hover {
    background-color:  rgb(8, 73, 105);
    border: 0px solid black;
    transition: .5s;
}